<div class="sign-in">
    <form>
        <img src="/logo.png" >
        <div class="mb-3">
            <label for="inputEmail" class="form-label">E-mail</label>
            <input required type="email" class="form-control shadow-none" id="inputEmail" placeholder="Digite o seu e-mail">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Senha</label>
            <input required type="password" class="form-control shadow-none" id="inputPassword" placeholder="Digite a sua senha">
        </div>
        <button type="submit" type="button" class="btn">Entrar</button>
        <div class="align-end">
            <a href="/nova-conta">Criar conta</a>
        </div>
    </form>
</div>